.productoCategoria{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(11,11,163,1) 0%, rgba(0,212,255,1) 100%);
    width: 100%;
    min-height: calc(100vh - 5.3125rem - 10.625rem);

    h2{
        text-align: center;
        color: #19FF72;
        font-size: 3.125rem;
        font-family: $font-family4;
    }
    .galeria{
        display: grid;
        width: 100%;
        height: auto;
        justify-content: center;
        text-align: center;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "foto1 foto2 foto3 foto4"
        "foto5 foto6 foto7 foto8"
        ;
        row-gap: 6.25rem;
        column-gap: .625rem;
        padding-bottom: 1.25rem;
        padding-top: 1.875rem;
        color: aliceblue;
        div{
            a{
                img{
                    transition: width 0.5s, height 0.5s;
                    border-radius: 5%;
                    width: 10rem;
                    height: 10rem;
                    &:hover{
                        width: 12.5rem;
                        height: 12.5rem;
                    }
                }
            p{
                font-size: 1rem;
                font-family: $font-family1;
            }
        }
    }
}

}